.ItemListContainer {
    margin-top: 5vh;
    margin-left: 2.5vw;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 4fr 4fr 4fr;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    margin-bottom: 10vh;
}
.card{
    justify-self: center;
    max-width: 17.5vw;
    min-height: auto;
    border-radius: 2.5%;
    margin-bottom: 2vh;
}
.card:hover{
    transform: scale(1.05);
    transition: 200ms;
}
.card:not(:hover) {
    transform: scale(1);
    transition: 100ms;
}
.subtitle {
    font-weight: 300;
    margin-top: 5vh;
    margin-left: 7.5vw;
    color: #b80909
}

.image-container{
    display:flex;
    justify-content: center;
    margin-bottom: 2vh;
    
}
.image{
    border-radius: 2.5%;
    height: 50vh;
    width:min-content;
    max-width: 17vw;
    overflow: hidden;
}
.Typography {
    color: black;   
}
.seeMore{
    display: flex;
    justify-content: center;
}

.titleCard{
    text-align: center;
}

@media screen and (min-width: 1px) and (max-width:767px){
    .image{
        max-width: 100%;
    }
}