.cart{
    display: flex;
    align-items: baseline;
    margin: 0;  
    align-self: center;
  }
.cart-text{
    align-self: center;
    margin: 0;
    color: #b80909
}

.miniCart-image{
  margin-top: 2vh;
  min-height: 6.5vh;
  width: 3vw;
  margin-left: 0vw;
  margin-right: .5vw;
}
.miniCarrito-items{
  justify-content: space-between!important;
}
.textoMiniCart{
  margin: 0;
  width: 5vw;
  align-self: flex-start 
}
.carrito{
  min-height: 100vh;
}
.carrito li{
  margin:  0vh 0 0vh 5vw;
}
.title{
  margin: 3vh 0 2vh 6vw;
}
.texto{
  margin: 0 5vw 0 0vw;
}
.texto2{
  text-align: center;
  justify-self: center;
  margin: 0 2.5vw 0 2.5vw;
}

