
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 3px #00000082;
  }
  ul {
    display: flex;
    list-style: none;
    margin-right: 2vw;
  }
  li{
    margin-left: 1vw;
  }
  .img-header {
    width: 15vw;
    margin-left: 2vw;
  }
  .cart{
    align-self: center;
  }
  a {
    text-decoration: none;
    color: #b80909
  }