footer {
    position: static;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
    background-color: #b80909;
}
.texto1footer{
    text-align: center;
}
.texto2footer{
    text-align: center;
}